# Ignore compiled object files
*.o

# Ignore executables
*.exe

# Ignore log files
*.log

# Ignore build directories
KarYonSistemi/bin/*
KarYonSistemi/obj/*
KarYonSistemi/bin/*
KarYonSistemi/obj/*

./bin/*
./obj/*
/build/

# Ignore IDE-specific files
.vscode/
.idea/
.vs/
KarYonSistemi/obj/Debug/KarYonSistemi.pdb
KarYonSistemi/bin/Debug/KarYonSistemi.pdb
/KarYonSistemi/bin/Debug/KarYonSistemi.pdb
/KarYonSistemi/obj/Debug/KarYonSistemi.pdb
