# Ignore compiled object files
*.o

# Ignore executables
*.exe

# Ignore log files
*.log

# Ignore build directories
./KarTeYoSis/bin/
./KarTeYoSis/obj/
/build/

# Ignore IDE-specific files
.vscode/
.idea/
.vs/
